:root {
    --bs-brand: #801f4f;
}

.bg_brand {
    background-color: var(--bs-brand) !important;  
}

.main {
    max-width: 540px;
}

.dotted, .dotted:hover {
  text-decoration-style: dotted
}

.navbar {
    margin-bottom: 1rem;
}

footer a {
    text-decoration: none;
}

/**
 * index.html
 */

.index_cta {
    color: var(--bs-white);
}

.index_cta img {
    height: 1em;
}

.fb_wrapper {
    min-height: 50px;
}
.fb-login-button {
    color: var(--bs-white);
    min-height: 40px;
    font-weight: bold;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .25px;
    background-color: #1877f2;
    min-width: 260px;
    text-align: center;
    vertical-align: middle;
}