:root {
    --bs-brand: #801f4f;
}

.bg_brand {
    background-color: var(--bs-brand) !important;  
}

.main {
    max-width: 540px;
}

.dotted, .dotted:hover {
  text-decoration-style: dotted
}

/**
 * index.html
 */

.index_cta {
    color: var(--bs-white);
}

.index_cta img {
    height: 1em;
}

