.cta {
	background: $primary-color url('/static/img/background.png');
	background-size: cover;    
	padding-bottom: rem-calc(50);

	box-shadow: $default-shadow;
	text-align: center;

	h1 {
		padding-top: rem-calc(40);
		color: $primary-color-text;
		font-size: rem-calc(150);
		line-height: 0.7em;
	}


	h2 {
		color: $primary-color-text;
		padding: 1em 0;
	}

	button {
		@include button(false, $button-background, $button-background-hover, $primary-color-text);
	}

	.top-link {
		color: $primary-color-text;
		font-weight: bold;
	}
}



.card {
	@include panel();
	padding: rem-calc(15);
	margin-top: rem-calc(30);
}

img.logo {
	height: 1em;
}