.cta {
	background: $primary-color;
	padding-bottom: rem-calc(50);

	box-shadow: $default-shadow;
	text-align: center;

	h1 {
		padding-top: rem-calc(40);
		color: $primary-color-text;
	}

	h1 span {
		font-size: 300%;
		line-height: 60%;
	}


	h2 {
		color: $primary-color-text;
		padding: 1em 0;
	}

	button {
		@extend .button, .large, .main;
	}

	.fb-login-button {
		margin: 1em;
		float: right;
		min-height: 40px;
	}

	.top-link {
		color: $primary-color-text;
		font-weight: bold;
	}

	img.logo {
		height: 1em;
	}
}

.card {
	@include panel();
	padding: rem-calc(15);
	margin-top: rem-calc(30);
}

