$default-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

.top-bar {
	box-shadow: $default-shadow;
}

.main {
	@include button-style($accent-color);
}

@mixin panel {
	background-color: $panel-color;
	border-radius: 2px;
	box-shadow: $default-shadow;
}

$small-font: rem-calc(14);
$vote-font-size: rem-calc(40);
$default-margin: rem-calc(20);

.panel {
	@include grid-column-row();
	@include panel();
	margin-top: $default-margin;
	max-width: 33em;
}

ol.results-winners,
ol.results-others,
ol.voting
{
	list-style: none;
	margin-left: 0;

	li {
		margin-top: $default-margin;
	}
}

.vote {
	text-align: right;
	display: inline-block;
	width: $vote-font-size * 2;

	font-size: $vote-font-size;
	line-height: 1em;

	margin: 0;
	margin-right: $default-margin;
}

input.vote {
	height: ($vote-font-size + ($form-spacing * 0.65));
}

ol.results-winners
{
	li.winner {
		font-size: rem-calc(25);
	}
}

ol.results-others > li
{
	font-size: $small-font;
	
	.vote {
		font-size: $small-font;
	}
}

.altenative {
	@include grid-row(6);
}

.vote-column {
	@include grid-column(1 of 6);
	@include grid-column-collapse;
}

.text-column {
	@include grid-column(5 of 6);
	@include grid-column-collapse;

	textarea {
		height: rem-calc(101px); // magic number to fit 3 rows
		margin-top: rem-calc(11px); // magic number to align to vote baseline
	}
}