@mixin panel {
	background-color: $panel-color;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

$small-font: rem-calc(14);
$vote-font-size: rem-calc(40);
$default-margin: rem-calc(20);

.votes {
	@include grid-column-row();
	@include panel();
	
	max-width: 33em;
}

ol.results-winners,
ol.results-others,
ol.voting
{
	list-style: none;
	margin-left: 0;

	li {
		margin-top: $default-margin;
	}

	.vote {
		text-align: right;
		display: inline-block;
		width: $vote-font-size * 2;

		margin: 0;
		margin-right: $default-margin;
	}
}

ol.results-winners
{
	li.winner {
		font-size: rem-calc(25);
	}

	.vote {
		font-size: $vote-font-size;
		line-height: 1em;
	}
}

ol.results-others > li
{
	font-size: $small-font;
}

ol.voting
{
	input.vote {
		font-size: $vote-font-size;

		height: ($vote-font-size + ($form-spacing * 0.7) - rem-calc(1));
	}
}