{sub_dirs,["apps"]}.
{deps_dir,"deps"}.
{deps, [
    {erlydtl,".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.8.0"} }},
    {gproc,  ".*", {git, "git://github.com/uwiger/gproc",       {tag, "0.6.1"} }},
    {fs,     ".*", {git, "git://github.com/synrc/fs",           {tag, "1.9"}   }},
    {sh,     ".*", {git, "git://github.com/synrc/sh",           {tag, "1.9"}   }},
    {mad,    ".*", {git, "git://github.com/synrc/mad",          {tag, "1.9"}   }},
    {active, ".*", {git, "git://github.com/synrc/active",       {tag, "1.9"}   }},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",        {tag, "2.4"}   }},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",          {tag, "4.4"}   }},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",          {tag, "3.9.1"} }}
]}.

{fetch_speed,fast_master}.
{verbose,1}.
