{deps, [
    {cowboy, "2.9.0"},
    {syn, "2.1.1"},
    {nitro, "7.5.0"},
    {n2o, "9.4.0"},
    {kvs, "9.4.6"},
    {jsone, "1.7.0"},
    {erlydtl, "0.14.0"}
]}.

{relx, [
    {release, {prod, {git, short}}, [web]},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{shell, [
    {apps, [web]}
]}.

{project_plugins, [erlfmt, rebar3_erlydtl_plugin]}.

{provider_hooks, [
    {pre, [{compile, {erlydtl, compile}}]}
]}.
