[
 {n2o, [{port,7001},
        {app,web},
        {route,routes},
        {mq,n2o_mq},
        {ttl, 86400},
        {formatter,bert},
        {log_modules,config},
        {log_level,config},
        {log_backend,n2o_log},
        {session,n2o_session},
        {origin,<<"*">>},
        {bridge,n2o_cowboy},
        {pickler,n2o_pickle},
        {erroring,n2o_error},
        {event,pickle}]},
 {kvs, [{dba,store_mnesia},
        {schema, [ kvs_feed, config ]} ]}
].