$default-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$small-font: rem-calc(14);
$vote-font-size: rem-calc(25);
$vote-font-size-big: rem-calc(40);
$default-margin: rem-calc(20);

.top-bar {
	box-shadow: $default-shadow;

	.menu-text,
	.menu .button {
		padding: $button-padding;
	}

	a {
		color: $primary-color-text;

		&:hover {
			color: $primary-color-light;		
		}
	}

	.top-login {
		font-size: $small-font;
	}

	.row {
		max-width: 35em;
	}
}

.main {
	@include button-style($accent-color, auto);
}

@mixin panel {
	background-color: $panel-color;
	border-radius: 2px;
	box-shadow: $default-shadow;
}

.panel-clear {
	@include grid-column-row();
	margin-top: $default-margin;
	max-width: 33em;
}

// weird foundation behaviour
.panel-clear:last-child:not(:first-child) {
	float: none;
}

.panel {
	@include grid-column-row();
	@include panel();
	margin-top: $default-margin;
	max-width: 33em;
}

// weird foundation behaviour
.panel:last-child:not(:first-child) {
	float: none;
}

.hidden {
	display: none;
}

.ajax {
	text-decoration: underline dotted;
	&:hover {
		text-decoration: underline dotted;
	}
}

@mixin secondary-text() {
	color: $secondary-text-color;
	
	a { 
		color: $secondary-text-color;

		&:hover,
		&:focus {
			color: $primary-text-color;
		}
	}
}


ol.alts
{
	list-style: none;
	margin-left: 0;

	li {
		@include grid-row();

		margin-top: $global-margin;
	}
}

footer {
	padding-top: 2em;

	a {
		color: $dark-gray;
	}
}