input.title-input {
	font-size: 100%;
	height: inherit;
	margin-top: $global-margin;
}

.vote {
	text-align: right;
	display: inline-block;
	width: $vote-font-size * 1.7;

	font-size: $vote-font-size;
	line-height: 1em;

	margin: 0;

	@include breakpoint(medium) {
		width: $vote-font-size-big * 1.7;
		font-size: $vote-font-size-big;
	}
}

.fb-login-button {
	margin-bottom: 1em;
}

.supps,
.author {
	@include secondary-text;
	padding-left: 0.4em;
}

.supps {
    display: block;
    padding-left: 0;
}

.author:before {
	content: '\2014\00A0';
}

$alt-text-size: $vote-font-size * 1.7;
$alt-text-size-big: $vote-font-size-big * 1.7;

.alt-float {
	width: calc(100% - #{$alt-text-size * 1.3});
	float: right;

	@include breakpoint(medium) {
		width: calc(100% - #{$alt-text-size-big * 1.3});
	}
}

.alts {
	.winner.upwoted {
		font-weight: bold;

		.vote {
			font-weight: normal;
		}

		.text {
			@include breakpoint(medium) {
				padding-top: 0.35rem; // magic number to align to vote baseline
			}
		}
	}

	.upwote {
		color: $accent-color;
	}
	.looser {
		font-size: $small-font;
		
		.vote {
			font-size: $small-font;
		}	
		.text {
			padding-top: 0;
		}
	}

	.deleted {
		@include secondary-text;
		a {
			@extend .ajax;
		}
	}

	.buttons {
		display: block;
		float: right;

		a {
			padding-left: 0.8em;
			@include secondary-text;
			@extend .ajax;
		}	
	}

	.inner {
		clear: both;
	}

	.edit_buttons {
		clear: both;
		@extend .row, .text-right;

		a {
			@extend .button;
			margin-right: $default-margin;
		}

		a.cancel_edit_alt {
			@extend .secondary;
		}
	}

	.text {
		@extend .alt-float;
		padding-right: $default-margin;

		@include breakpoint(medium) {
			padding-top: 0.75rem; // magic number to align to vote baseline
		}
	}

	textarea {
		height: rem-calc(101px); // magic number to fit 3 rows
	}

	.with_vote .vote{
		padding-top: 2rem;
	}

	.alt_form,
	.with_vote {
		@include panel();
	}
}

input[type="range"] { 
	@include range-input-color($medium-gray);
}

input[type="range"].positive {
	@include range-input-color($accent-color);
}

input[type="range"].negative {
	@include range-input-color($alert-color);
}

@keyframes shake-little {
	0%, 50% {
		transform: translateX(2%);
  	}
	25%, 75% {
		transform: translateX(-2%);
	}
}

input[type="range"] {
	height: 1.4rem;
	animation-name:shake-little;
	animation-duration: 0.7s;
}

.with-label {
	padding-top: rem-calc(25);
}

.invalid {
	color: $form-label-color-invalid;

	input {
		@include form-input-error;
	}
}