@mixin range-input-color($color) {
	&::-webkit-slider-thumb {
		background: $color;
	}

	&::-moz-range-thumb {
		background: $color;
	}

	&::-ms-thumb {
		background: $color;
	}
}

/* Phones, tablets etc. */
@media (hover: none) {
	/* Disable range change on click */
	input[type=range] {
		pointer-events: none;
	}
	input[type=range]::-webkit-slider-thumb { /* Webkit Browsers like Chome and Safari */
		pointer-events: auto;
	}
	input[type=range]::-moz-range-thumb { /* Firefox */
		pointer-events: auto;
	}
	input[type=range]::-ms-thumb { /* Internet Explorer */
		pointer-events: auto;
	}
}
