.main {
    max-width: 540px;
}

:root {
  --bs-brand-rgb: #801f4f;
  --bs-success-rgb: 19, 121, 91;
}

.bg-brand {
  background-color: var(--bs-brand-rgb) !important;  
}

.dotted, .dotted:hover {
  text-decoration-style: dotted
}
.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.topper {
  z-index: 1;
  width: 100%;
}

h1, p {
    word-wrap: break-word;
}