.main {
    max-width: 540px;
}

:root {
  --bs-brand-rgb: #801f4f;
  --bs-success-rgb: 19, 121, 91;
}

.bg-brand {
  background-color: var(--bs-brand-rgb) !important;  
}

.dotted, .dotted:hover {
  text-decoration-style: dotted
}