.main {
    max-width: 540px;
}

:root {
  --bs-brand-rgb: #801f4f;
  --bs-success-rgb: 19, 121, 91;
}

.bg-brand {
  background-color: var(--bs-brand-rgb) !important;  
}

.dotted, .dotted:hover {
  text-decoration-style: dotted
}
.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.topper {
  z-index: 1;
  width: 100%;
}

h1, p {
    word-wrap: break-word;
}

.vote_buttons button {
  border-radius: 50%;
  margin-right: 0.1rem;
  font-weight: 700;
  padding: 0.325rem 0.525rem;
  border-color: #DDDDDD;
  color: #6c757d;
}

.vote_buttons button:hover {
  opacity: 30%;
}

.vote_buttons button.active:hover {
  opacity: 100% !important;
}
