<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
  
    <meta property="og:image" content="https://glagoly.com/static/img/fb.png" />
    <meta property="fb:app_id" content="{{ fb_app_id }}" />

    <title>{{ title }} &#11315; glagoly</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="icon" href="/static/favicon.ico">

    
  </head>
  <body>
   
    {{ body }}
<footer>
  <ul class="menu align-center ">
    <li><small><a href="/policy" class="secondary">Privacy Policy</a></small></li>
  </ul>
</footer>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '{{ fb_app_id }}',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v8.0'
    });
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js"></script>

<script>{{ script }}</script>
<script src="static/js/app.js"></script>

{% if ga_id %}
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ ga_id }}', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
{% endif %}

  </body>
</html>