<div class="panel" id="edit_panel">
  <form class="row collapse" id="vote-form" onsubmit="event.preventDefault(); voteSubmit();">

  <h1>{{ title_input }}</h1>
  
  <div class="callout secondary" id="help-callout">
    <button class="close-button" onclick="closeHelp();">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ manual }}
  </div>

  <ol class="alts" id="alts">
    {{ alts }}
  </ol>
  <ol class="alts">
    <li id="alt-add">
      {{ alt_form }}
    </li>
  </ol>

  <div class="row collapse">
    <div class="large-6 columns">
      <input type="text" id="name" required maxlength=32, placeholder="my name" value="{{ name }}">
      <p class="help-text">name meainingful for other voters</p>
    </div>
    <div class="large-5 columns">
      <input 
        type="submit" class="button main expanded" id="create" 
        value="{{ poll_button }}">
      <a
        class="clear button small secondary expanded"
        id="results" onclick="showResults();">
        view results
      </a>
    </div>
  </div>
  </form>
</div>
