<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>glagoly</title>
    <link rel="stylesheet" href="static/css/app.css">
  </head>
  <body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <a href="index.html"><img class="logo" src="/static/img/logo-light.svg"><sup>beta</sup></a>
        </li>
      </ul>
    </div>
  </div>
    <div class="panel">
      <h1>poll</h1>
    
      <div class="callout secondary" data-closable="slide-out-left">
        <ol>
          <li>Start by adding your most preferable alternative and rank it with positive number (+7 is fine)</li>
          <li>Add some less preferable alternatives and rate them</li>
          <li>Add other alternatives and leave them without rating</li>
        </ol>
        <p></p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <ol class="alternatives" id="alts">
        {{ alts }}
      </ol>
      <ol class="alternatives">
        <li class="edit-form" id="alt-add">
          {{ alt_form }}
        </li>
      </ol>

      <form class="row collapse" id="vote-form">
        <div class="large-6 columns">
          <input type="text" id="name" required placeholder="your name">
          <p class="help-text">enter your name meainingful to other voters</p>
        </div>
        <div class="large-5 columns">
          <input type="submit" class="button main expanded" id="create" value="create poll">
        </div>
      </form>
    </div>

    <script>{{ script }}</script>
    <script src="static/js/app.js"></script>
  </body>
</html>