<div class="panel">
  <h1>{{ title_input }}</h1>

  
  <div class="callout secondary" id="help-callout">
    <button class="close-button" onclick="closeHelp();">
      <span aria-hidden="true">&times;</span>
    </button>
    <ol>
      {% if is_new %}
      <li>add most preferable alternative and rate it with +7</li>
      <li>add some less preferable alternatives and rate them with +5, +3, +1</li>
      <li>add other alternatives and leave them without rating</li>
      {% else %}
      <li>add or rate the most preferable alternative with +7</li>
      <li>rate less preferable alternatives with +5, +3, +1</li>
      <li>rate unacceptable alternative with -3</li>
      {% endif %}
    </ol>
  </div>

  <ol class="alts" id="alts">
    {{ alts }}
  </ol>
  <ol class="alternatives">
    <li class="edit-form" id="alt-add">
      {{ alt_form }}
    </li>
  </ol>

  <form class="row collapse" id="vote-form">
    <div class="large-6 columns">
      <input type="text" id="name" required placeholder="your name" value="{{ name }}">
      <p class="help-text">enter your name meainingful to other voters</p>
    </div>
    <div class="large-5 columns">
      <input type="submit" class="button main expanded" id="create" value="create poll">
    </div>
  </form>
</div>
