<div id="body">

<div class="cta">
  <div class="row column text-right">
    <a href="#" class="login-button" onclick="onLoginClick();">log in</a>
  </div>
  <h1><span>
    <img class="logo" src="/static/img/logo-light.svg"><br/>glagoly
  </span></h1>
  {{ cta }}
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="card">
      <h2>wise collective decisions</h2>
      <p>hear and choose all alternatives. not only “yes”, “no” or abstain":</p>
      <ul>  
        <li>paint fence in red;</li>
        <li>paint fence in blue;</li>
        <li>remove fence and make bicycle parking.</li>
      </ul>
      {{ sample_poll }}
    </div>
  </div>

  <div class="large-6 columns">
    <div class="card">
      <h2>fun rated lists</h2>
      <p>create rated lists for fun. choose cocktails for your next party:</p>
      <ul>  
        <li>cosmopolitan;</li>
        <li>sex on the beach;</li>
        <li>long island iced tea.</li>
      </ul>
      {{ sample_list }}
    </div>
  </div>

</div>

<div class="row">
  <div class="large-6 columns">
    <div class="card">
      <h2>easy meeting schedule</h2>
      <p>choose meeting time, place and activity in one poll:</p>
      <ul>
        <li>play football on saturday morning;</li>
        <li>make a barbecue on saturday morning;</li>
        <li>drink beer at bar on friday evening.</li>
      </ul>
      {{ sample_schedule }}
    </div>
  </div>

  <div class="large-6 columns">
    <div class="card">
      <h2>science magic inside</h2>
      <p>glagoly simple to use, but backed by voting science:</p>
      <ul>  
        <li>schulze method for ranking votes;</li>
        <li>robson rotation to eliminate “donkey voting”.</li>
      </ul>
      <h4>free as in speech</h4>
      <p>glagoly is <a href="https://github.com/glagoly/glagoly">free software</a>. run for any purpose, study, change, and distribute it.</p>
    </div>
  </div>

</div>

<br />

<div class="cta">
  <h2>make decision in less then 5 minutes</h2>
  {{ create_button2 }}
</div>

</div>