<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>glagoly</title>
    <link rel="stylesheet" href="static/css/app.css">
  </head>
  <body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <a href="index.html"><img class="logo" src="/static/img/logo-light.svg"><sup>beta</sup></a>
        </li>
      </ul>
    </div>
  </div>
    <div class="panel">
    	<h1>My polls</h1>
    	<ol class="alternatives" id="alts">
            {{ polls }}
        </ol>
    </div>

    <script>{{ script }}</script>
    <script src="static/js/app.js"></script>
  </body>
</html>